body{
  background: #222222;
}

*{
  font-family: "inter",sans-serif;
}

.h1-1{
  color: white;
  margin: auto;
  padding: 40px;
  position: relative;
  width: fit-content;
}

.h1-1::after{
  content: '';
  display: block;
  height: 3px;
  width: 0%;
  opacity: 0;
  background: linear-gradient(to right, #2bff00, #e1ff00);
  animation: linha 5s infinite;
}

.container{
  display: grid;
  justify-content: center;
  animation: appear 3s;
}

.TextArea{
  background: rgb(47, 47, 47);
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 1px 1px 20px;
}

.h3T{
  color: #c3c2c2;
}

.btn{
  display: flex;
  height: 30px;
  width: 200px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  position: relative;
  transition: all 0.5s;
  padding: 20px;
  margin: 0px 15px;
}


.btn::before{
  position: absolute;
  content: '';
  height: 0%;
  width: 100%;
  background: linear-gradient(to right, #2bff00, #e1ff00);
  left: 0;
  opacity: 0;
  display: block;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.5s;
}

.btn:hover::before{
  height: 100%;
  opacity: 1;
}

.btn:hover{
  color: white;
  box-shadow: 1px 1px 20px rgba(0, 255, 21, 0.507);
  scale: 1.05;
}

.links{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.img2{
  display: block;
  margin-top: 30px;
  border-radius: 30px;
  margin: auto;
}

.apendices{
  display: block;
  height: 420px;
  margin: auto;
}

.metamorfose{
  display: block;
  height: 420px;
  border-radius: 16px;
  margin: auto;
}

@keyframes linha{
  50%{
    width: 100%;
    opacity: 1;
  }
  100%{
    width: 0%;
    opacity: 0;
  }
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}